body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-font-white{
  color: white;
}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 36px !important;
  }
  p{
    font: 16px;
  }
}
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 60px !important;
  }
  p{
    font: 18px;
  }
}

:root{
  --font-color-gray: #DCDCDC;
  --secondary-color-detal: purple;
}