.my-image{
    width: 80%;
    border-radius: 8px;
}

.tab-dark{
    font-size: 26px;
    cursor: pointer;
    margin-right: 30px;
    font-weight: bold;
} 

.active-tab-link{
    color: purple !important;
    text-decoration: underline;
    transition: all 0.5s ease-in-out;
}