.card{
    width: 100%;
    background-color: #191919 !important;
}

.card-title{
    margin-top: 20px;
}

.card:hover{
    transform: scale(1.04) translateZ(0);
    background-color: red;
}

div.overlay {
    position: absolute;
    background-image: linear-gradient(purple, rgba(248, 0, 248, 0.233));
    opacity: 0.1;
    filter: alpha(opacity=75);
}